/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden;
}

/* ========================== Body & helper class ================================== */

html {
    height: 100%;
    width: 100%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
    height: 100%;
    width: 100%;

    background: #fff url(images/ios/view-background.png);
}

input, select, textarea {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.visible {
    display: inline-block !important;
}

/* ========================== Window ================================== */
#summer {
    width: 100%;
    height: 100%;
}

.window {
    width: 100%;
    height: 100%;

    display: block;
    overflow: hidden;
    position: relative;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* ================================= View ===================================== */

.view {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}

.view .view-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
}

.view .view-scroller {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}

.view.enable {
    pointer-events: auto;
}

.view.disable {
    pointer-events: none;
}

.view-wrapper {
    position: absolute;
    z-index: 1;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.view-scroller {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 30px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

/* ================================= Grouped View ===================================== */

ul.grouped-scroll-unit-wrapper {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding: 10px 9px;
}

.grouped-scroll-unit-wrapper li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

.list-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    list-style: none;
    list-style-position: outside;
    position: relative;
}

.view-scroller ul li {

    color: #000;
    font-size: 17px;
    font-weight: bold;
    height: 45px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #ababab;
    border-bottom: none;
}

.view-scroller ul li:first-child {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.view-scroller ul li:last-child {
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -ms-box-shadow: 0 1px 0 #fff;
    -o-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid #ababab;
}

.grouped-list-header {
    width: 90%;
    background: none;
    border: none;
    color: #4c596e;
    font-size: 17px;
    font-weight: bold;
    height: 17px;
    margin: 20px auto 0 20px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/* ========================== List Item Style  ================================== */
.grouped-scroll-unit-wrapper li.selected {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6)) !important;
    background: -webkit-linear-gradient(bottom, #058DF5, #0160E6) !important;
    background: -moz-linear-gradient(bottom, #058DF5, #0160E6) !important;
    background: -ms-linear-gradient(bottom, #058DF5, #0160E6) !important;
    background: -o-linear-gradient(bottom, #058DF5, #0160E6) !important;
    background: linear-gradient(bottom, #058DF5, #0160E6) !important;
    color: #fff;
    text-shadow: none;
}

/* ========================== Navigation Bar ================================== */
.navigation-bar {
    height: 44px;
    width: 100%;
}

.navigation-bar.default {
    background: url(images/ios/bar.png) repeat-x 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    padding-left: 7px;
    padding-right: 7px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.navigation-bar-item {
    height: 44px;
    line-height: 33px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    padding-top: 5px;
}

.bar-title {
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ========================== Button ================================== */
.button {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    position: relative;
    width: auto;
}

/* Inside a Bar */

.bar-button {
    height: 30px;
}

.bar-button > .button-label {
    margin-top: -2px;
}

.button-ios-6 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-image: url(images/ios/bar-button.png) 0 5 1170 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 0 5 1170 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 0 5 1170 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 0 5 1170 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 0 5 1170 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 0 5 1170 fill stretch stretch;
    background: none;
    border-radius: 0px;
    border-width: 0px 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 0px 4px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.button-ios-6.button-back {
    -webkit-border-image: url(images/ios/bar-button.png) 240 5 930 13 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 240 5 930 13 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 240 5 930 13 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 240 5 930 13 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 240 5 930 13 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 240 5 930 13 fill stretch stretch;
    border-left-width: 13px;
    padding-left: 0;

    position: absolute;
    left: 7px;
    top: 7px;
}

.button-ios-6.button-back.selected {
    -webkit-border-image: url(images/ios/bar-button.png) 270 5 900 13 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 270 5 900 13 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 270 5 900 13 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 270 5 900 13 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 270 5 900 13 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 270 5 900 13 fill stretch stretch;
}

.button-ios-6.button-forward {
    -webkit-border-image: url(images/ios/bar-button.png) 300 13 870 5 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 300 13 870 5 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 300 13 870 5 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 300 13 870 5 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 300 13 870 5 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 300 13 870 5 fill stretch stretch;
    border-right-width: 13px;
    padding-right: 0;

    position: absolute;
    right: 7px;
    top: 7px;
}

.button-ios-6.button-forward.selected {
    -webkit-border-image: url(images/ios/bar-button.png) 330 13 840 5 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 330 13 840 5 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 330 13 840 5 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 330 13 840 5 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 330 13 840 5 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 330 13 840 5 fill stretch stretch;

}

.button-ios-6.button-options {
    position: absolute;
    right: 7px;
    top: 7px;
}

.button-ios-6.button-options.active-state.selected,
.button-ios-6.button-options.selected {
    -webkit-border-image: url(images/ios/bar-button.png) 30 5 1140 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 30 5 1140 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 30 5 1140 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 30 5 1140 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 30 5 1140 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 30 5 1140 fill stretch stretch;
    background-image: none;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.button-ios-6.button-options.active-state {
    -webkit-border-image: url(images/ios/bar-button.png) 1080 5 90 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 1080 5 90 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 1080 5 90 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 1080 5 90 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 1080 5 90 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 1080 5 90 fill stretch stretch;
}

.button-ios-6.button-options.warning-state {
    -webkit-border-image: url(images/ios/bar-button.png) 1140 5 30 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 1140 5 30 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 1140 5 30 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 1140 5 30 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 1140 5 30 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 1140 5 30 fill stretch stretch;
}

.button-ios-6.button-options.warning-state.selected {
    -webkit-border-image: url(images/ios/bar-button.png) 1170 5 0 stretch stretch;
    -webkit-border-image: url(images/ios/bar-button.png) 1170 5 0 fill stretch stretch;
    -moz-border-image: url(images/ios/bar-button.png) 1170 5 0 fill stretch stretch;
    -ms-border-image: url(images/ios/bar-button.png) 1170 5 0 fill stretch stretch;
    -o-border-image: url(images/ios/bar-button.png) 1170 5 0 fill stretch stretch;
    border-image: url(images/ios/bar-button.png) 1170 5 0 fill stretch stretch;
}